;; Slack emoji aliases. While we can generally scrape slack's set of standard
;; emojis well, it has a bunch of these aliases which we can't easily scrape.
;; This file is the result of: loading slack in the browser with devtools open,
;; looking for '.js' files it loads, looking at them one by one and searching
;; for certain emoji names, until eventually you find a big JSON.parse('....'),
;; which you can also find here, see `emojis_raw.json`. Some of those have an
;; `aliasAt`, which is what you see here. We've included them in both
;; directions, since it seems somewhat arbitrary which one yet get from the UI,
;; the "real" name or the alias.
{"star-struck" "grinning_face_with_star_eyes"
 "boat" "sailboat"
 "flag-jp" "jp"
 "us" "flag-us"
 "waxing_gibbous_moon" "moon"
 "fried_egg" "cooking"
 "book" "open_book"
 "punch" "facepunch"
 "flag-ru" "ru"
 "face_with_raised_eyebrow" "face_with_one_eyebrow_raised"
 "running" "runner"
 "women_holding_hands" "two_women_holding_hands"
 "poop" "hankey"
 "reversed_hand_with_middle_finger_extended" "middle_finger"
 "shushing_face" "face_with_finger_covering_closed_lips"
 "man_and_woman_holding_hands" "woman_and_man_holding_hands"
 "face_with_one_eyebrow_raised" "face_with_raised_eyebrow"
 "satisfied" "laughing"
 "thumbsup" "+1"
 "-1" "thumbsdown"
 "lightning" "lightning_cloud"
 "flag-it" "it"
 "middle_finger" "reversed_hand_with_middle_finger_extended"
 "cn" "flag-cn"
 "face_with_finger_covering_closed_lips" "shushing_face"
 "exploding_head" "shocked_face_with_exploding_head"
 "collision" "boom"
 "kr" "flag-kr"
 "it" "flag-it"
 "sign_of_the_horns" "the_horns"
 "flipper" "dolphin"
 "medical_symbol" "staff_of_aesculapius"
 "staff_of_aesculapius" "medical_symbol"
 "thumbsdown" "-1"
 "flag-fr" "fr"
 "sailboat" "boat"
 "bee" "honeybee"
 "grinning_face_with_one_large_and_one_small_eye" "zany_face"
 "flag-cn" "cn"
 "shirt" "tshirt"
 "barely_sunny" "sun_behind_cloud"
 "laughing" "satisfied"
 "cooking" "fried_egg"
 "ladybug" "lady_beetle"
 "raised_hand" "hand"
 "izakaya_lantern" "lantern"
 "tornado" "tornado_cloud"
 "email" "envelope"
 "hand" "raised_hand"
 "face_with_open_mouth_vomiting" "face_vomiting"
 "flag-us" "us"
 "uk" "gb"
 "hand_with_index_and_middle_fingers_crossed" "crossed_fingers"
 "lady_beetle" "ladybug"
 "face_with_hand_over_mouth"
 "smiling_face_with_smiling_eyes_and_hand_covering_mouth"
 "face_vomiting" "face_with_open_mouth_vomiting"
 "couple" "man_and_woman_holding_hands"
 "gb" "flag-gb"
 "mostly_sunny" "sun_small_cloud"
 "shocked_face_with_exploding_head" "exploding_head"
 "two_men_holding_hands" "men_holding_hands"
 "flag-de" "de"
 "zany_face" "grinning_face_with_one_large_and_one_small_eye"
 "fr" "flag-fr"
 "hocho" "knife"
 "facepunch" "punch"
 "shoe" "mans_shoe"
 "tshirt" "shirt"
 "partly_sunny_rain" "sun_behind_rain_cloud"
 "moon" "waxing_gibbous_moon"
 "face_with_symbols_on_mouth" "serious_face_with_symbols_covering_mouth"
 "runner" "running"
 "de" "flag-de"
 "shit" "hankey"
 "crossed_fingers" "hand_with_index_and_middle_fingers_crossed"
 "sun_small_cloud" "mostly_sunny"
 "woman_and_man_holding_hands" "man_and_woman_holding_hands"
 "envelope" "email"
 "ru" "flag-ru"
 "sun_behind_rain_cloud" "partly_sunny_rain"
 "two_women_holding_hands" "women_holding_hands"
 "+1" "thumbsup"
 "red_car" "car"
 "telephone" "phone"
 "exclamation" "heavy_exclamation_mark"
 "grinning_face_with_star_eyes" "star-struck"
 "es" "flag-es"
 "feet" "paw_prints"
 "honeybee" "bee"
 "flag-kr" "kr"
 "mrs_claus" "mother_christmas"
 "flag-es" "es"
 "phone" "telephone"
 "jp" "flag-jp"
 "hankey" "shit"
 "tornado_cloud" "tornado"
 "car" "red_car"
 "paw_prints" "feet"
 "flag-gb" "gb"
 "the_horns" "sign_of_the_horns"
 "boom" "collision"
 "sun_behind_cloud" "barely_sunny"
 "lantern" "izakaya_lantern"
 "men_holding_hands" "two_men_holding_hands"
 "mans_shoe" "shoe"
 "dolphin" "flipper"
 "mother_christmas" "mrs_claus"
 "heavy_exclamation_mark" "exclamation"
 "open_book" "book"
 "lightning_cloud" "lightning"
 "smiling_face_with_smiling_eyes_and_hand_covering_mouth"
 "face_with_hand_over_mouth"
 "memo" "pencil"
 "serious_face_with_symbols_covering_mouth" "face_with_symbols_on_mouth"
 "knife" "hocho"
 "pencil" "memo"}
